pandas==2.2.0
numpy==1.26.4
duckdb==0.10.0
prophet==1.1.5
streamlit==1.31.0
plotly==5.18.0
openpyxl==3.1.2
xlsxwriter==3.1.9
jupyter==1.0.0
notebook==7.0.7
ipykernel==6.29.2
pandas-datareader==0.10.0
itables>=2.7.0
yfinance>=0.2.0
